<h1>Donor</h1>

<p><%= current_user.first_name %></p>
<p><%= current_user.last_name %></p>
<p><%= current_user.email %></p>
<p><%= current_user.zipcode %></p>
<p><%= current_user.phone %></p>
<p><%= current_user.bloodtype %></p>
