<h1>Donor</h1>

<p><%= current_donor.first_name %></p>
<p><%= current_donor.last_name %></p>
<p><%= current_donor.email %></p>
<p><%= current_donor.zipcode %></p>
<p><%= current_donor.phone %></p>
<p><%= current_donor.bloodtype %></p>
