<%= form_with(model: Analytic.new, url: event_analytics_path(@event.id), method: :post) do |form| %>

  <% if @analytic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(analytic.errors.count, "error") %> prohibited this analytic from being saved:</h2>

      <ul>
      <% analytic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="col-sm-4">

  <h1>New Analytic</h1>

  <div class="field">
    <%= form.label :bloodtype %>
    <%= form.select :bloodtype, options_for_select(['A+','O+','B+','AB+','A-','O-','B-','AB-']), class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :arrival_time %>
    <%= form.time_select :arrival_time, id: :analytic_arrival_time %>
  </div>

  <button type="button" class="btn btn-default">
    <%= form.submit %>
  </button>
</div>



<% end %>
