<%= form_with(model: Analytic.new, url: event_analytics_path(@event.id), method: :post) do |form| %>

<% if @analytic.present? %>
  <% if @analytic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(analytic.errors.count, "error") %> prohibited this analytic from being saved:</h2>

      <ul>
      <% analytic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
<% end %>

<div class="col-md-4 track-blood ">

  <h1>Keeping track</h1>

  <div class="form-group" style="display:flex;align-items: center;">
    <%= form.label :bloodtype, style: 'min-width: 150px;' %>
    <%= select_tag "analytic[bloodtype]", options_for_select(['A+','O+','B+','AB+','A-','O-','B-','AB-']),{ class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= form.label :arrival_time %>
    <%= form.time_select :arrival_time, id: :analytic_arrival_time, class: 'form-control' %>
  </div>

  <button type="button" class="btn btn-default">
    <%= form.submit %>
  </button>
</div>
<% end %>
