<%= form_with(model: event, local: true, class: 'col-md-6 col-md-offset-3') do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group event-name">
    <%= form.label :event_name %>
    <%= form.text_field :event_name, id: :event_event_name, class: 'form-control '  %>
  </div>
  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, id: :event_address, class: 'form-control ' %>
  </div>
  <div class="form-group">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :event_zipcode, class: 'form-control ' %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :event_description, class: 'form-control ' %>
  </div>
  <div class="form-group col-sm-6 display-flex">
    <%= form.label :bloodtype %>
    <%= select_tag "event[bloodtype]", options_for_select(['A+','O+','B+','AB+','A-','O-','B-','AB-']), class: 'form-control' %>
  </div>
  <div class="form-group col-sm-6 display-flex">
    <%= form.label :date %>
    <%= form.date_select :date, {}, {ampm: true, class: 'form-control ', id: :event_date} %>
  </div>
  <div class="form-group col-sm-6 display-flex">
    <%= form.label :start_time %>
    <%= form.time_select :start_time, {}, {ampm: true, class: 'form-control ', id: :event_start_time } %>
  </div>
  <div class="form-group col-sm-6 display-flex">
    <%= form.label :end_time %>
    <%= form.time_select :end_time, {}, {ampm: true, class: 'form-control ', id: :event_end_time }%>
  </div>
   <}t">
    <%= form.submit %>
  </div>
<% end %>
