<p id="notice"><%= notice %></p>

<h1 class="blood_event">Blood Event</h1>

 <div class="col-sm-4">

<p>
  <strong>Event:</strong><br>
  <%= @event.event_name %>
</p>

<p>
  <strong>Date:</strong><br>
  <%= @event.date %>
</p>

<p>
  <strong>Start Time:</strong><br>
  <%= @event.start_time.strftime("%I:%M:%S %p") %>
</p>

<p>
  <strong>End Time:</strong><br>
  <%= @event.end_time.strftime("%I:%M:%S %p") %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong><br>
  <span id="address"><%= @event.address %></span>
</p>

<p>
  <strong>Zipcode:</strong><br>
  <%= @event.zipcode %>
</p>

<p>
  <strong>Bloodtype:</strong><br>
  <%= @event.bloodtype %>
</p>

<p>
  <strong>Phone:</strong><br>
  <%= @event.phone %>
</p>

</div>

<div id="map"></div>




<!-- Create Analytics (**RENDER FORM**) ONLY if is provider -->
  <% if current_provider and current_provider.has_event?(@event) %>
    <h1 class="ana" >Analitycs</h1>
      <%= render :partial => 'analytics/form', analytic: @analytic  %>
  <% end %>





<!-- Analytics Chart (**SHOWING PIE CHART**) ONLY if is provider -->
  <% if current_provider and current_provider.has_event?(@event) %>
    <%= hidden_field_tag :analytics_data, current_provider.analytics.group(:bloodtype).count.map{|a| {name:a.first,y:a.last}}.to_json %>
      <div id="analytic" style="display:inline-block; width:400px; height:350px; margin-right:0"></div><br></div>
  <% end %>






<!-- Edit button ONLY if is provider-->
  <% if current_provider and current_provider.has_event?(@event) %>
    <%= link_to 'Edit', edit_event_path(@event) %>
  <% end %>



<%= link_to 'Back', root_path %>



<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhbQgPh31lGOj3BuPQHrTjuR_rMe2_NQU&callback=initMap">
</script>
