<p id="notice"><%= notice %></p>

<p>
  <strong>Health provider:</strong>
  <%= @event.health_provider %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Addres:</strong>
  <%= @event.addres %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @event.zipcode %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @event.blood_type %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @event.phone %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
