<div class="blood-added">
<%= notice %>
</div>

<h1 class="blood-event">Event Details</h1>

<div class="col-sm-3">

<p>
  <strong>Event:</strong><br>
  <%= @event.event_name %>
</p>

<p>
  <strong>Date:</strong><br>
  <%= @event.date %>
</p>

<p>
  <strong>Start Time:</strong><br>
  <%= @event.start_time.strftime("%I:%M:%S %p") %>
</p>

<p>
  <strong>End Time:</strong><br>
  <%= @event.end_time.strftime("%I:%M:%S %p") %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong><br>
  <span id="address"><%= @event.address %></span>
</p>

<p>
  <strong>Zipcode:</strong><br>
  <%= @event.zipcode %>
</p>

<p>
  <strong>Bloodtype:</strong><br>
  <%= @event.bloodtype %>
</p>


</div>



<div class="analytic-page">



<!-- Create Analytics (**RENDER FORM**) ONLY if is provider -->
  <% if current_provider and current_provider.has_event?(@event) %>
     <div class="ana">
      <%= render :partial => 'analytics/form', analytic: @analytic  %>
      </div>
  <% end %>





<!-- Analytics Chart (**SHOWING PIE CHART**) ONLY if is provider -->
  <% if current_provider and current_provider.has_event?(@event) %>
    <%= hidden_field_tag :analytics_data, current_provider.analytics.group(:bloodtype).count.map{|a| {name:a.first,y:a.last}}.to_json %>
      <div id="analytic" style="display:inline-block; width:400px; height:350px; margin-right:0"></div><br></div>

  <% end %>





<!-- Edit button ONLY if is provider-->
  <% if current_provider and current_provider.has_event?(@event) %>
<div class="edit-hp">
  <%= link_to 'Edit', edit_event_path(@event) %>

</div>
  <% end %>

  <div class="btn btn-warning">

  <%= link_to 'Back', root_path %>
</div>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhbQgPh31lGOj3BuPQHrTjuR_rMe2_NQU&callback=initMap">
</script>

<div id="map"></div>
