<p id="notice"><%= notice %></p>

<p>
  <strong>Health provider:</strong>
  <%= @event.health_provider %>
</p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @event.zipcode %>
</p>

<p>
  <strong>Bloodtype:</strong>
  <%= @event.bloodtype %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @event.phone %>
</p>

<h1>Analitycs</h1>

<% @event.analytics.each do |a|%>
  <p>Bloodtype: <%= a.bloodtype %></p>
  <p><%= a.arrival_time.strftime("Arrived on %m/%d/%Y at %I:%M%p") %></p>
<% end  %>

<%= render :partial => 'analytics/form', analytic: @analytic  %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', root_path %>
