<h1><%= current_provider.facility_name %></h1>

<p></p>
<p><%= current_provider.address %></p>
<p><%= current_provider.email %></p>
<p><%= current_provider.webpage %></p>
<p><%= current_provider.about_us %></p>
<p><%= current_provider.phone %></p>
