<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Health Provider Profile</title>
  </head>
  <body>
    <div class="head-1">
      <h1><%= current_provider.facility_name %></h1>
      <strong><p>Facility Information</p></strong>
    </div>

    <div class="info">

    Address: &nbsp<%= current_provider.address %>
    Email: &nbsp<%= current_provider.email %>
    Webpage: &nbsp<%= link_to current_provider.webpage %>
    About Us: &nbsp<%= current_provider.about_us %>
    Phone Number: &nbsp<%= current_provider.phone %>

    </div>
  </body>
</html>
