
    <div class="hp-profile">


    <div class="head-1">
      <h1><%= current_provider.facility_name.upcase %></h1>
    </div>

    <div class="info-provider">
  <strong><p>Facility Information</p></strong>

  <p>Address: &nbsp<%= current_provider.address %></p>
  <p>Email: &nbsp<%= current_provider.email %></p>
  <p>Webpage: &nbsp<%= link_to current_provider.webpage %></p>
  <p>Phone Number: &nbsp<%= current_provider.phone %></p>

</div>
<div class="btn btn-warning">
  <%= link_to 'Edit', edit_health_provider_path %>
</div>
<div class="btn btn-success">
  <%= link_to 'New Event', new_event_path%>
</div>
  </div>
    </div>
